carro{
font-size:20px;
display:block;
margin-left:25%;
margin-top:2%;
margin-right:25%;
}
marca{
}
modelo{
font-size:20px;
display:block;
padding:1%;
}
color{
font-size:20px;
display:block;
padding:1%;
}
taller{
font-size:20px;
display:block;
margin-left:2%;
margin-top:2%;
margin-right:2%;
text-align:center;
background-color:gray;
color:white;
}
